<p id="notice"><%= notice %></p>

<p>
  <b><%= Lunch.human_attribute_name(:day) %>:</b>
  <%= l @lunch.day, format: :diary_format %>
</p>

<p>
  <b><%= Lunch.human_attribute_name(:food) %>:</b>
  <%= @lunch.food %>
</p>

<p>
  <b><%= Lunch.human_attribute_name(:calories) %>:</b>
  <%= @lunch.calories %>
</p>

<p>
  <b><%= Lunch.human_attribute_name(:delicious) %>:</b>
  <%= t(@lunch.delicious.to_s) %>
</p>


<%= link_to t("navigation.edit"), edit_lunch_path(@lunch) %> |
<%= link_to t("navigation.back"), lunches_path %>
