<p id="notice"><%= notice %></p>

<p>
  <b><%= Lunch.human_attribute_name(:day) %>:</b>
  <%= I18n.l @lunch.day, format: :diary_format %>
</p>

<p>
  <b><%= Lunch.human_attribute_name(:food) %>:</b>
  <%= @lunch.food %>
</p>

<p>
  <b><%= Lunch.human_attribute_name(:calories) %>:</b>
  <%= @lunch.calories %>
</p>

<p>
  <b><%= Lunch.human_attribute_name(:delicious) %>:</b>
  <%= @lunch.delicious %>
</p>


<%= link_to 'Edit', edit_lunch_path(@lunch) %> |
<%= link_to 'Back', lunches_path %>
