<!DOCTYPE html>
<html>
<head>
  <title>Lunch Tracker | Code Fellows App-A-Day by Steph Datu</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= t ".language" %>:
<%= link_to_unless_current "English", locale: "en" %> |
<%= link_to_unless_current "French", locale: "fr" %><BR>

<%= yield %>

</body>
</html>
